.footerSection {
	height: auto;
	background-color: #62974a;
	padding: 80px 0px 20px;
	// background-image: linear-gradient(to bottom, green, #62974a, #3a7d0e);
	background: #3a7d0e;

	.container {
		max-width: 1140px;
		margin: 0 auto;

		.footerWrapper {
			display: flex;
			gap: 20px;

			.col {
				width: 25%;
				height: auto;
				color: rgba(255, 255, 255, 0.692);

				.footerHeading {
					margin-bottom: 12px;
					text-decoration: underline;
				}

				ul {
					list-style: none;

					li {
						margin-bottom: 6px;

						a {
							text-decoration: none;
							font-size: 18px;
							color: rgba(255, 255, 255, 0.705);

							&:hover {
								color: rgb(255, 255, 0);
								text-decoration: underline;
							}
						}
					}
				}
			}

			.company-col {
				margin-right: 24px;

				.imgWrapper {
					width: 100%;
					height: 100px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				p {
					margin-top: 20px;
				}
			}

			.contact-col {
				p {
					margin-bottom: 12px;
				}
			}
		}
		.footerNote {
			color: rgba(255, 255, 255, 0.815);
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.footerSection {
		.container {
			padding: 0px 20px;

			.footerWrapper {
				flex-wrap: wrap;

				.col {
					width: 30%;
				}
				.company-col {
					width: 90%;
					margin: 0 auto 40px;

					.imgWrapper {
						width: 200px;
						height: auto;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.container {
		.footerWrapper {
			gap: 0px;

			.col {
				min-width: 40%;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.container {
		.footerWrapper {
			gap: 0px;
			justify-content: center;

			.col {
				min-width: 100%;
				margin: 0 auto;
			}
		}
	}
}
