.mapSection {
	height: auto;
	// border: 2px solid black;
	// margin-bottom: 200px;
	// background-color: #3a7d0e;

	.container {
		max-width: 1140px;
		margin: 0 auto;
		overflow: hidden;
		padding: 80px 0px;

		.sectionHeading {
			font-size: 20px;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}
